@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background: linear-gradient(rgb(87, 87, 113), gray);
  height: 70px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.header-button{
  padding: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  color: white;
  font-size: 20px;
  justify-content: right;
  gap: 60px;
}
.header-button :hover{
  width: 10%;
  color: black;
  background-color: white;
  border-radius: 5rem;
    transition: 0.5s;
}
.top{
  width: 100%;
  height: auto;
  background: linear-gradient(rgb(152, 152, 207), pink);
}
.main-container{
  display: flex;
  justify-content: center;
}
.parent {
  margin: 50px;
  padding: 5px;
  width: 250px;
  height: 250px;
  background-color: white;
  
  align-items: center;
  position: relative;
}
.parent:hover{
  cursor: pointer;
  transform: translateY(10px);
}
.child {
  margin: 30px;
  width: 150px;
  height: 150px;
  background-color: coral;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.main2{
  display: flex;
  justify-content: center;
}